.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  text-align: justify;
}

.chartBorder {
  border-style: ridge;
  border-radius: 60px;
  margin: 10px;
  border-color: #bad3f9;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border-width: medium; */
  border-width: 5px 5px 5px 5px;
}

.box {
  display: inline-block;
  padding: 0px;
  max-width: 20px;
}
.box > div {
  font-weight: bolder;
  text-align: center;
  display: inline-block;
  border: 1px solid #b7d6aa;
  width: 219px;
  height: 36px;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: 0 0;
  background: #b7d6aa;
  font-size: larger;
  margin-top: 36px;
}

.graphHeader {
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}
.list-menu {
  /*  background-image: url(../src/assets/images/eye.jpg); */
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 55px; /* Adjust according to image size to push text across. */
  background-size: 30px 30px;
  display: inline-block;
  z-index: 99999;
}
